.container {
  position: relative; 
  text-align: center;
  padding: 10px;
  display: block;
}

.container h1 {
  font-weight: bold;
  color: white;
  font-size: 80px !important;
  font-family:'Playfair Display', serif;
  margin-top: -20px;
  margin-bottom: 5px;
}

.container h3 {
  font-weight: 500;
  color: white;
  margin-top: 0;
  line-height: 0.7;
}

.button {
  display: flex;
  gap: 40px;
  margin-top: 80px;
}

.button img {
  cursor: pointer;
  width: 150px;
  height: 150px;
  background-color: rgba(229, 229, 229, 0.271); /* 각진 사각형 배경 */
  padding: 10px; /* 배경과 이미지 사이의 여백 */
  border-radius: 0;
  transition: transform 0.2s ease, background-color 0.2s ease;
  display: block; /* 이미지 크기 보장을 위한 블록 요소 */
}

.button img:hover {
  background-color: rgba(229, 229, 229, 0.271);
  transform: scale(1.1);
}