.container {
  position: relative; 
  text-align: center;
  padding: 10px;
  display: block;
}

.container h1 {
  font-weight: bold;
  color: white;
  font-size: 80px !important;
  font-family:'Playfair Display', serif;
  margin-top: -20px;
  margin-bottom: 5px;
}

.container h3 {
  font-weight: 500;
  color: white;
  margin-top: 0;
  line-height: 0.7;
}

.button {
  display: flex;
  gap: 40px;
  margin-top: 80px;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.button-container img {
  width: 150px;
  height: 150px;
  background-color: rgba(229, 229, 229, 0.271);
  padding: 10px;
  border-radius: 0;
  transition: transform 0.2s ease, background-color 0.2s ease;
  display: block;
}

.button-container img:hover {
  background-color: rgba(229, 229, 229, 0.271);
  transform: scale(1.1);
}

.button-text {
  margin-top: 10px;
  font-size: 1rem;
  color: white;
  font-weight: bold;
}